body {
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #7f8c3a;
  background-image: url('./img/pexels-isabel-ph-18290345.jpg');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #f0f0ea;
  padding: 20px 30px;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #e8e9c1;
  color: #7f8c3a;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s;
}

button:hover {
  opacity: 1;
}